* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #eec0b4;
    color: #fff3ec;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  
  h2 {
    color: #fff3ec;
  }
  
  .container {
    height: 500px;
    width: 500px;
    border: 4px solid #ffc0ad;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  
  img {
    width: 100px;
    height: 100px;
  }